.form{
    background-color: #32A6E7;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    border : 3px;
    border-color: #2c3e50;
    border-style: solid;
    border-radius: 25px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
    display: flex;
    justify-content: center;
}